.ageApp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    margin: 10px;
    width: auto;
    max-width: 400px;
    padding: 1.5rem;
    border-radius: 15px 15px 120px 15px;
}

.inputDate-container{
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 10px;
    
}

.inputDate-items {
    display: flex;
    flex-direction: column;
    width: 33%;

}

.inputDate-items p{
    margin: 0;
    padding-bottom: 5px;
    color: var(--dark-gray);
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
}

.inputDate-items input{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    width: 62px;
    height: 40px;
    border: 1px solid;
    border-color: var(--light-gray);
    border-radius: 6px;
    padding: 5px 15px;

}

.inputDate-items input:hover{
    border-color: var(--principal-color);
}

.inputDate-items .warning{
    margin-top: 10px;
    font-size: 8px;
    color: var(--error-color);
    width: 60%;
    flex-grow: 2;
}

.btn-container{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-top: 2rem;
}

.line{
    width: 100%;
    height: 2px;
    background-color: hsl(0, 0%, 86%);
    border-radius: 3px;
}

.btn-container button{
    background-color: var(--principal-color);
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 40%;
}

.btn-container button img{
    margin: 15px;
    width: 30px;
}

.resultDate-container {
    align-self: flex-start;
    padding: 2rem 0;
    line-height: 1.1;
}

.resultDate-container h1{
    font-size: 50px;
    font-weight: 8 00;
    font-style: italic;
    margin: 0;
    color: var(--black-color);
}

.resultDate-container h1 p{
    margin: 0;
    display: inline;
    color: var(--principal-color);
}

